{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block main_content %}

<!-- Professional Contact Information Layout -->
<div class="container mt-5" style="margin-bottom: 90px;">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Contact Information</h2>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li class="mb-3">
                  <i class="bi bi-person-fill me-2 text-primary"></i>
                  <span class="fw-bold">Name:</span> Naiza

                </li>
                <li class="mb-3">
                  <i class="bi bi-envelope-fill me-2 text-primary"></i>
                  <span class="fw-bold">Email:</span> naiza.dusoruth04@gmail.com
                </li>
                <li class="mb-3">
                  <i class="bi bi-telephone-fill me-2 text-primary"></i>
                  <span class="fw-bold">Phone:</span> +23057660995 
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li class="mb-3">
                  <i class="bi bi-geo-alt-fill me-2 text-primary"></i>
                  <span class="fw-bold">Address:</span> Mauritius
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if not session %}
<script>
    setTimeout(function() {
        Swal.fire({
            icon: 'info',
            title: 'Oops...',
            text: "Please login or register first",
            showClass: {
                popup: 'animate__animated animate__zoomIn'
            },
            hideClass: {
                popup: 'animate__animated animate__zoomOut'
            },
            showConfirmButton: true,
            confirmButtonText: 'OK',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/login";
            }
        });
    }, 20000); // Delay in milliseconds (2 seconds)
</script>
{% endif %}


{% endblock main_content %}
