{% extends 'dashboard/base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock extra_css %}

{% block main_content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Add Starting and Ending Locations</h2>
          <form id="location-form" method="post" action="#">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="start">Starting Location:</label>
                <input type="text" class="form-control" id="start" name="start" placeholder="Enter starting location" required>
              </div>
              <div class="form-group col-md-6">
                <label for="end">Ending Location:</label>
                <input type="text" class="form-control" id="end" name="end" placeholder="Enter ending location" required>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbJWoNVEym_yqpxVJruTwxszwX2hr608c&libraries=places"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var startInput = document.getElementById('start');
    var endInput = document.getElementById('end');

    function initAutocomplete(input, isStart) {
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          window.alert("No details available for input: '" + input.value + "'");
          return;
        }
        // You can perform any necessary actions here based on the selected place
      });
    }


   

    initAutocomplete(startInput, true);
    initAutocomplete(endInput, false);
  });
</script>
{% endblock main_content %}



